*{
  /* background-color: rgb(222, 222, 220); */
  font-family: monospace;

}
.proj{
  background-color: rgb(222, 222, 220); 
  width: 1000px;
  height: auto;
  padding-left: 100px;
}
#pro1{
  display: flex;
  justify-content: center;
}
#d1{
  background-color: yellow;
  padding: 5px;
  padding-left: 7px;
}
